*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    width: 100px;  
    height: auto;  
    display: block;
    filter: invert(10%) brightness(80%);
}

nav{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7D1424;
    display: block;
    margin: auto; 
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.container {
    text-align: center;
    padding: 60px 20px;
    flex: 1; /* This pushes the footer down */
  }
  
  
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2f3542;
  }
  
  .container p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .social-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icons img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
  }
  
  .social-icons a:hover {
    transform: scale(1.1);
    color: #4c6ef5;
  }
  
  footer {
    background-color: #2f3542;
    color: #f1f2f6;
    text-align: center;
    padding: 20px 0;
  }